<!-- index.html -->
{% extends "layout.html" %}
{% load static %}

{% block title %}LALAL{% endblock %}

{% block content %}

<!-- map id needs to be at top for formatting-->
<div id="map"></div>

<div class="title-bar">
  <h2>NYC Happy Hour Finder</h2>
</div>

<!-- login icon - onlick open up modal-->
<div class="login-container" id="open">
  <a href="#" class="login-icon" data-toggle="modal" data-target="#exampleModal" title="Open Modal" id="loginTrigger">
    <i class='bx bxs-user'></i>
  </a>
</div>

<!-- pre post map base-->

<div class="filter-bar">
  <!-- Neighborhood -->
  <div class="select-box">
    <div class="selected">Neighborhood</div>
    <div class="options-container">
      <div class="option">Lower East Side</div>
      <div class="option">Midtown</div>
      <div class="option">East Village</div>
      <div class="option">Hells Kitchen</div>
      <div class="option">Fidi</div>
      <div class="option">West Village</div>
      <div class="option">Bed-Stuy</div>
      <div class="option">Crowne Heights</div>
      <div class="option">Clinton Hill</div>
      <div class="option">Clinton Hill</div>
      <div class="option">Park Slope</div>
      <div class="option">Williamsburg</div>
    </div>
  </div>

  <!-- Start Time -->
  <div class="select-box">
    <div class="selected">Start Time</div>
    <div class="options-container">
      <div class="option">11 AM</div>
      <div class="option">12 PM</div>
      <div class="option">3 PM</div>
      <div class="option">4 PM</div>
      <div class="option">5 PM</div>
      <div class="option">All Day</div>
    </div>
  </div>

  <!-- Deal End Time -->
  <div class="select-box">
    <div class="selected">Deal End Time</div>
    <div class="options-container">
      <div class="option">5 PM</div>
      <div class="option">5:30 PM</div>
      <div class="option">6 PM</div>
      <div class="option">6:30 PM</div>
      <div class="option">7 PM</div>
      <div class="option">7:30 PM</div>
      <div class="option">8:00 PM</div>
      <div class="option">All Day</div>
    </div>
  </div>

  <!-- Day of Week -->
  <div class="select-box">
    <div class="selected">Day of Week</div>
    <div class="options-container">
      <div class="option">Monday</div>
      <div class="option">Tuesday</div>
      <div class="option">Wednesday</div>
      <div class="option">Thursday</div>
      <div class="option">Friday</div>
    </div>
  </div>

  <!-- Deal Type -->
  <div class="select-box">
    <div class="selected">Deal Type</div>
    <div class="options-container">
      <div class="option">Drinks</div>
      <div class="option">Food</div>
    </div>
  </div>
</div>


<!-- modal Structure -->
{% include "components/modal.html"%}

<div id="loginModal" class="modal-overlay">

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}