<!-- index.html -->
{% extends "layout.html" %}
{% load static %}

{% block title %}LALAL{% endblock %}

{% block content %}

<!-- map id needs to be at top for formatting-->
<div id="map"></div>

<div class="title-bar">
  <h2>NYC Happy Hour Finder</h2>
</div>

<!-- login icon - onlick open up modal-->
<div class="login-container">
  <a class="login-icon" onclick="openModal()">
    <i class='bx bxs-user'></i>
  </a>
</div>

<!-- pre post map base-->

<div class="filter-bar">
  <!-- Neighborhood -->
  <div class="select-box">
    <div class="selected">Neighborhood</div>
    <div class="options-container">
    {% for x in location %}
      <div class="option">{{ x.location }}</div>
    {% endfor %}
    </div>
  </div>

  <!-- Start Time -->
  <div class="select-box">
    <div class="selected">Start Time</div>
    <div class="options-container">
    {% for deal in deal_start_time %}
      <div class="option">{{ deal.deal_start_time }}</div>
    {% endfor %}
    </div>
  </div>

  <!-- Deal End Time -->
  <div class="select-box">
    <div class="selected">Deal End Time</div>
    <div class="options-container">
    {% for deal in deal_end_time %}
      <div class="option">{{ deal.deal_end_time }}</div>
    {% endfor %}
    </div>
  </div>

  <!-- Day of Week -->
  <div class="select-box">
    <div class="selected">Day of Week</div>
    <div class="options-container">
     {% for day in deal_day_of_week %}
      <div class="option">{{ day.deal_day_of_week}}</div>
    {% endfor %}
    </div>
  </div>

  <!-- Deal Type -->
  <div class="select-box">
    <div class="selected">Deal Type</div>
    <div class="options-container">
     {% for type in deal_type %}
      <div class="option">{{ type.deal_type}}</div>
    {% endfor %}
    </div>
  </div>
</div>

<!-- modal Structure -->
{% include "components/modal.html"%}

<div id="loginModal" class="modal-overlay">

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}