body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100%;

}

/* ========================================
   restaurants/index.html
   - map
   - title bar
   - login icon
   - filter drop down menu
   - add deal icon
======================================== */
  
/* map */
  #map {
    width: 99%;
    height: 100vh; /* Full screen */

  }

/* title bar */
  .title-bar {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: white;
    padding: 18px 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
  
  .title-bar h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #333;
    margin: 0;
  }

/* login icon */
.login-container {
  position: absolute;
  top: 40px;
  right: 60px;
  z-index: 1000;
}

.login-container .login-icon {
    background-color: white;
    border: none;
    padding: 26px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
  }
  
.login-icon:hover {
    background-color: #f3f3f3;
    transform: scale(1.05);
  }

.login-icon i {
    font-size: 36px;
    color: #333;
  }

/* filter drop down menu*/
.container {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 999;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 220px;
    padding: 10px;
    font-family: sans-serif;
}
.filter-bar {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 1000;
  }
  
  .select-box {
    position: relative;
    width: 160px;
    font-family: 'Helvetica Neue', sans-serif;
    user-select: none;
  }
  
  .selected {
    padding: 10px 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    font-size: 14px;
    transition: all 0.2s ease;
  }
  
  .selected::after {
    content: '▼';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #888;
    pointer-events: none;
  }
  
  .options-container {
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-height: 180px;
    overflow-y: auto;
  }
  
  .options-container.active {
    display: block;
  }
  
  .option {
    padding: 10px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease;
  }
  
  .option:hover {
    background-color: #f3f3f3;
  }

  /* add deal icon */
.add-deal-container {
  position: absolute;
  bottom: 40px;
  left: 60px;
  z-index: 809;
}

.add-deal-container .add-deal-icon {
    background-color: white;
    border: none;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
  }
  
.add-deal-icon:hover {
    background-color: #f3f3f3;
    transform: scale(1.05);
  }

.add-deal-icon i {
    font-size: 36px;
    color: #333;
  }


/* ========================================
   templates/components/modal.html
   - basic model stucture
======================================== */
  .modal-overlay {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 90%;
    max-height: 900px;
    max-width: 600px;
    overflow-y: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  
  .close-modal {
    color: #aaa;
    position: sticky;
    font-size: 28px;
    font-weight: bold;
    bottom: 95%;
    left: 95%;
    cursor: pointer;
  }
  
  .close-modal:hover {
    color: black;
  }
  
  /* ========================================
   templates/components/modal.html
   - login modal content
   - signup modal content
======================================== */

.user-profile-wrapper {
    max-height: 550px;
    max-width: 550px;
    z-index: 2000;
}

.user-profile-wrapper h1{
    font-size: 36px;
    text-align: center;
    z-index: 2000;
}

.user-profile-wrapper .input-box{
    position: relative;
    width: 100%;
    z-index: 2000;
    height: 50px;
    margin: 30px 25px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 0px 45px 20px 20px;

}

.input-box input::placeholder{
    color: black;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.user-profile-wrapper .remember-forgot{
    display: flex;
    justify-content: space-between ;
    font-size: 14.5px;
    margin: -10px 25px 10px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.user-profile-wrapper .btn {
    width: 100%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 30px 25px;

}

.user-profile-wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

/* ========================================
   templates/components/add_deal_modal.html
   - model stucture for add deals form
======================================== */
