body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: #888;
}

/* index.css code */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  #map {
    width: 99%;
    height: 100vh; /* Full screen */

  }
  .indexWrapper {
    position: absolute;
    text-align: center;
    left: 600px; 
    top: 20px;
  }
  
  .indexWrapper h2 {
    text-align: center;
    left: 600px; 
    top: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 36px;
    font-weight: bold;
    font-family: monospace;
    color: black;  
}
.login-container {
    position: fixed;
    top: 50px;
    right: 50px;
}

.login-container .login-icon{
    width: 50%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 40px;
    color: #333;
    font-weight: 600;
}
  
.login-icon:hover {
    background-color: #ddd; /* Change color when hovered */
}

.login-icon i {
    vertical-align: middle;
}

/* login.css code */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('nyc-background.avif') no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    color: #ffff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: #ffff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between ;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

