body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  #map {
    width: 99%;
    height: 100vh; /* Full screen */

  }
  .indexWrapper {
    position: absolute;
    text-align: center;
    left: 600px; 
    top: 20px;
  }
  
  .indexWrapper h2 {
    text-align: center;
    left: 600px; 
    top: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 36px;
    font-weight: bold;
    font-family: monospace;
    color: black;  
}
.login-container {
    position: fixed;
    top: 50px;
    right: 50px;
}

.login-container .login-icon{
    width: 50%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 40px;
    color: #333;
    font-weight: 600;
}
  
.login-icon:hover {
    background-color: #ddd; /* Change color when hovered */
}

.login-icon i {
    vertical-align: middle;
}
