{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
      <!-- Mapbox CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <!-- Navigation or logo -->
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <!-- Footer content -->
    </footer>
      <!-- Load scripts at the bottom of the page -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
