{% load static %}

<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<form method="post" action="{% url 'index' %}">
  {% csrf_token %}
  <div class="user-profile-wrapper">
  <h1>Login</h1>
  <div class="input-box">
    <input type="text" name="username" placeholder="Username" required>
    <i class='bx bxs-user'></i>
  </div>
  <div class="input-box">
    <input type="password" name="password" placeholder="Password" required>
    <i class='bx bxs-lock-alt'></i>
  </div>

  <div class="remember-forgot">
    <label><input type="checkbox"> Remember Me</label>
    <a href="#">Forgot Password?</a>
  </div>

  <button type="submit" class="btn">Login</button>
  <div class="register-link">
    <p>Don’t have an account? <a href="#" onclick="switchToSignup()">Register here</a></p>
  </div>
  </div>

</form>
