
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map View</title>
  <!-- Mapbox CSS -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href=" {% static 'restaurants/css/index.css' %}">
</head>

<body>
  <div id="map"></div>

  <div class="indexWrapper">
    <h2>NYC Happy Hour Finder</h2>
  </div>

  <div class="login-container">
    <a href="login" class="login-icon">
      <i class='bx bxs-user'></i>
    </a>
</div>
  
  <!-- Scripts go here, OUTSIDE #map -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
  <script src="{% static 'restaurants/js/map.js' %}"></script>
</body>
</html>