<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NYC HH Deals</title>
    <link rel="stylesheet" href="static/restaurants/css/login.css">
</head>
<body>
    <div class="background"></div>
    <h2>Welcome to NYC HH Deals</h2>
    <div>
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Log In</button>
        </form>
    </div>
</body>
</html>
